#center {
    margin-left: 200px;
    margin-right: 200px;
    font-size:18px;
    text-align:center;
    font-family:sans-serif;
    color: rgb(197, 197, 197);
    background-color:rgb(183, 2, 255);
    margin-left: 150px;
    margin-right: 150px;   
}